* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.lista-menu{
    background-color: #C20000;
    display:block;
    text-align: center;
    
}
.item-menu{
    display: inline;
    padding-left: 100px;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}
.item-menu > a{
    text-decoration: none;
    color: white;
}
.logo-menu{
    width: 50px;
}
.principal{
    text-align: center;
}
.formulario{
    width: 400px;
    height: 400px;
    padding: 20px;
    font-size: 18px;
    background-color: aliceblue;
    border: 1px solid;
    display: inline-block;
    border-radius: 5px;
}
.redes{
    display:inline-block;
    width:400px;
    height: 400px;
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 50px;
}
.redes-itens{
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    color: black;
}
.input-style{
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}
form > select, input{
    font-size: 18px;
    border-radius: 5px;
}
form > textarea{
    width:100%;
    border-radius: 5px;
}
.contato{
    display:block;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}
#enviar{
    cursor: pointer;
}
.footer{
    display:block;
    margin: 0 auto;
    background-color: #C20000;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.footer-img{
    width: 400px;
    
}

.categorias{
    display: inline-block;
    position: relative;
    padding:5px;
    width: 300px;
    height: 1000px;
    
}
.categorias-click{
    cursor: pointer;
    padding: 10px;
    background-color: #c20000;
    
}
.categorias-click:hover{
    background-color: #ffc299;
}
.produtos{
    display: inline-block;
    position:absolute;
    width: 1400px;
    
}
.veiculo{

    width: 320px;
    display: inline-block;
    text-align: center;
}
/* .veiculo > img{
    width: 320px;
    height: 200px;
} */
.preco-antigo{
    font-size: small;
    text-decoration: line-through;
}
.preco-novo{
    font-size: larger;
    color:#C20000;
}
.lista-lojas{
    width: 100%;
    padding-top: 20px;
    height: 300px;
    text-align: center;
}
.loja{
    display: inline-block;
    width: 0 auto;
    padding-left: 5%;
    padding-right: 5%; 
}
.loja > img{
    width: 300px;
}
.boas-vindas{
    padding-top: 25px;
    display:block;
    text-align: center;
}
.imagem-redes{
    width: 30px;
    vertical-align: middle;
    padding-bottom: 5px;
}
.kit-imagem-redes{
    text-align: left;
}
.align-left{
    text-align: left;
}
#select{
    display:block;
}